/* ── 테마: 기본 (index.css :root와 동일) ── */
[data-theme="basic"] {
  --color-primary: #00C4A7;
  --color-primary-active: #00b098;
  --color-top-section-bg: #E0F2ED;
}

/* ── 테마: 블루 ── */
[data-theme="blue"] {
  --color-primary: #2E84D4;
  --color-primary-active: #1d4ed8;
  --color-top-section-bg: #EFF8FF;
  --color-qm-1: #FFCECE;
  --color-qm-2: #CBE8FF;
  --color-qm-3: #FFE39C;
  --color-qm-4: #F8DCFE;
  --color-qm-5: #FFCFA1;
  --color-qm-6: #B2D2FB;
}

/* ── 테마: 오렌지 ── */
[data-theme="orange"] {
  --color-primary: #FF8C00;
  --color-primary-active: #c2410c;
  --color-top-section-bg: #FFF1CF;
  /* --color-page-bg: #ffffff; */
  --color-page-bg: #FFFAEE;
  --color-qm-1: #E5D4F6;
  --color-qm-2: #CCEFC5;
  --color-qm-3: #FBC9C9;
  --color-qm-4: #BADFDB;
  --color-qm-5: #FFE6A4;
  --color-qm-6: #CCDDFF;
}
