.header {
  display: flex;
  flex-direction: column;
  padding: var(--space-3) var(--space-5) var(--space-4) var(--space-6);
  gap: var(--space-1h);
}

.datetime {
  display: flex;
  justify-content: flex-end;
  gap: var(--space-2);
  white-space: nowrap;
  font-size: var(--font-2xs);
  font-weight: var(--weight-medium);
  color: var(--color-text-muted);
}

.mainRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoSection {
  display: flex;
  align-items: flex-end;
  gap: 0.25rem;
}

.logo {
  height: 1.3rem;
  object-fit: contain;
}

.storeName {
  font-size: var(--font-2xs);
  font-weight: var(--weight-medium);
  color: var(--color-text-muted);
}

.ddayList {
  display: flex;
  gap: var(--space-2);
}

.ddayTag {
  display: inline-flex;
  align-items: center;
  gap: var(--space-1h);
  padding: var(--space-1h) var(--space-3h);
  border-radius: var(--radius-xs);
  font-size: var(--font-xs);
  font-weight: var(--weight-medium);
  color: var(--color-text-dday);
  background-color: var(--color-bg-white);
  /* border: 1px solid var(--color-border-dark); */
  white-space: nowrap;
}

.ddayTagPrimary {
  color: #fff;
  font-weight: var(--weight-medium);
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.ddayValue {
  font-weight: var(--weight-semibold);
  color: var(--color-primary);
}

.ddayValuePrimary {
  font-weight: var(--weight-semibold);
  color: #fff;
}
